$body-bgcolor: white;
$body-text-color: black;
$body-link-color: #246;
$body-link-color-active: #646;
$body-link-bgcolor: #def;
$body-link-bgcolor-active: #fef;

body {
    font: 20px/1.4 'Roboto', sans-serif;
    margin: 2em;
    background-color: $body-bgcolor;
    color: $body-text-color;
}

.body-text a {
    color: $body-link-color;
    background-color: $body-link-bgcolor;
    padding: .2em;
    border-radius: .2em;

    &:link, &:active {
        color: $body-link-color;
        background-color: $body-link-bgcolor;
    }

    &:active, &:hover {
        color: $body-link-color-active;
        background: linear-gradient($body-link-bgcolor, $body-link-bgcolor-active);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    background-color: $body-link-bgcolor;
    padding: .5em;
    margin-left: -.5em;
    margin-right: -.5em;
}

.tagline {
    font-family: 'JetBrains Mono', monospace;
}

h2, h3, h4, h5, h6 {
    background: linear-gradient($body-bgcolor, $body-link-bgcolor);
    padding: .5em;
    margin-left: -.5em;
    margin-right: -.5em;
}

.article-previews {
    a {
        display: block;
        background: $body-link-bgcolor-active;
        border-radius: 0 1em 1em 1em;
        padding: 1em;
        color: $body-link-color;
        margin: 1em 1em 1em 0;

        &:nth-child(even) {
            border-radius: 1em 0 1em 1em;
            text-align: right;
            margin: 1em 0 1em 1em;
        }

        &:link, &:active {
            color: $body-link-color;
            background: $body-link-bgcolor-active;
        }

        &:active, &:hover {
            color: $body-link-color-active;
            background: linear-gradient($body-link-bgcolor, $body-link-bgcolor-active);
        }
    }
}
