$body-font-size: 17px;
$body-bgcolor: white;
$body-text-color: black;
$body-link-color: #246;
$body-link-color-active: #646;
$body-link-bgcolor: #def;
$body-link-bgcolor-active: #fef;

html {
    font: $body-font-size/1.5 'Roboto', sans-serif;

    @media (min-width: ($body-font-size * 39)) {
        font-size: 20px;
    }
}

body {
    margin: $body-font-size;
    background-color: $body-bgcolor;
    color: $body-text-color;
    max-width: ($body-font-size * 39);

    @media (min-width: ($body-font-size * 42)) {
        margin: $body-font-size auto;
    }
}

a {
    color: $body-link-color;

    &:link, &:active {
        color: $body-link-color;
    }

    &:active, &:hover {
        color: $body-link-color-active;
    }
}

.body-text a {
    background-color: $body-link-bgcolor;
    padding: .1em .2em;
    border-radius: .2em;

    &:link, &:active {
        background-color: $body-link-bgcolor;
    }

    &:active, &:hover {
        background: linear-gradient($body-link-bgcolor, $body-link-bgcolor-active);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.2;
}
h1 { font-size: 1.8rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1rem; }
h4 { font-size: .8rem; }

header.masthead {
    h1 {
        background-color: $body-link-bgcolor;
        padding: .5em;
    }

    .tagline {
        font-family: 'JetBrains Mono', monospace;
    }
}

header.article {
    h1 {
        font-size: 1rem;
        background-color: $body-link-bgcolor;
        padding: .5em;
        margin: ($body-font-size * -1) ($body-font-size * -1) 0 ($body-font-size * -1);
    }
}

h2, h3, h4, h5, h6 {
    background: linear-gradient($body-bgcolor, $body-link-bgcolor);
    padding: .5em;
}

.article-previews {
    a {
        display: block;
        background: $body-link-bgcolor-active;
        border-radius: 0 1em 1em 1em;
        padding: 1em;
        color: $body-link-color;
        margin: 1em 1em 1em 0;

        &:nth-child(even) {
            border-radius: 1em 0 1em 1em;
            text-align: right;
            margin: 1em 0 1em 1em;
        }

        &:link, &:active {
            color: $body-link-color;
            background: $body-link-bgcolor-active;
        }

        &:active, &:hover {
            color: $body-link-color-active;
            background: linear-gradient($body-link-bgcolor, $body-link-bgcolor-active);
        }
    }
}
