body {
    font: 12pt/1.4 'Fira Sans', sans-serif;
    margin: 1rem;
    background-color: seashell;
    color: #444;
}

a {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: slategray;
}
a:active, a:hover {
    background: black;
    background: linear-gradient(0deg, rgba(3,73,0,1) 0%, black 100%);
    color: lime;
    text-decoration: none;
}

header h1 a,
header h1 a:visited,
header h1 a:active,
header h1 a:hover,
.header a,
.header a:visited,
.header a:active,
.header a:hover,
footer a,
footer a:visited,
footer a:active,
footer a:hover
{
    color: lime;
    background: transparent;
    text-decoration: underline;
}

header h1, section h1, article .header {
    color: lime;
    text-shadow: rgba(0,255,0,.66) 0 0 .5em;
    background: black;
    background: linear-gradient(0deg, rgba(3,73,0,1) 0%, black 100%);
    font-family: 'VT323', monospace;
    font-weight: normal;
    line-height: 1;
    padding: 1rem;
}
header h1 {
    margin: -1rem -1rem 0;
    font-size: 2.5em;
}
section h1 {
    margin: 1rem -1rem;
    font-size: 1.5em;
}
article .header {
    margin: -1rem -1rem 0;
}
article .header .breadcrumbs {
    font-size: 1.25em;
}
article .header h1 {
    font-weight: normal;
    margin: 1rem 0;
    font-size: 2em;
}

header .tagline {
    font: 1.3em 'Fira Code', sans-serif;
}

article h2 {
    margin: 1rem -1rem;
    color: lime;
    text-shadow: rgba(0,255,0,.66) 0 0 .5em;
    background: black;
    background: linear-gradient(0deg, rgba(3,73,0,1) 0%, black 100%);
    font: 1.5em 'VT323', monospace;
    padding: .5em;
}
article blockquote {
    font-size: 90%;
}
article code {
    font-family: 'Fira Code', monospace;
}
article pre {
    font-size: 90%;
    font-family: 'Fira Code', monospace;
    color: white;
    text-shadow: rgba(255,255,255,.5) 0 0 .33em;
    background: black;
    background: linear-gradient(0deg, rgba(3,73,0,1) 0%, black 100%);
    padding: 1em;
    white-space: pre-wrap;
}
article aside {
    border-top: 2px dashed #888;
    border-bottom: 2px dashed #888;
    padding: 1em;
    margin: 1em 0;
    font-size: 90%;
}
article aside h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    margin: .5em 0;
}
article aside ol {
    margin: .5em 0;
    padding: 0 0 0 1.5em;
}
article aside :first-child {
    margin-top: 0;
}
article aside :last-child {
    margin-bottom: 0;
}

footer {
    color: lime;
    text-shadow: rgba(0,255,0,.66) 0 0 .5em;
    background: black;
    background: linear-gradient(0deg, rgba(3,73,0,1) 0%, black 100%);
    font: 1.5em 'VT323', monospace;
    padding: .5rem 1rem;
    margin: 1rem -1rem -1rem;
}
footer p {
    margin: 1rem;
}

@media only screen and (min-width: 768px) {
    body {
        margin: 2rem;
        font-size: 14pt;
    }
    header h1, article .header {
        margin: -2rem -2rem 0;
        padding: 1rem 2rem;
    }
    section h1, article h2 {
        margin: 2rem -2rem;
        padding: 1rem 2rem;
    }
    article aside {
        border-left: 2px dashed #888;
        border-radius: 1em;
        float: right;
        width: 40%;
        margin-left: 2em;
    }
    footer {
        margin: 2rem -2rem -2em;
        padding: 1rem 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 16pt;
    }
    section, article .content {
        width: calc(1024px - 4rem);
        margin-left: auto;
        margin-right: auto;
    }
    header, article .header {
        text-align: center;
    }
    footer {
        text-align: center;
    }
}

ul.articles li {
    margin: .5em 0;
}
ul.articles li a {
    font-weight: bold;
}
